<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dsappcenter.jun.mytoilet2">

    <uses-permission android:name="android.permission.INTERNET">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/toileticon120"
        android:label="헐레벌떡"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity

            android:name="com.dsappcenter.jun.mytoilet2.introActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="com.kakao.sdk.AppKey"
            android:value="594d646d05ce8cc86a10fbd693be8050"/>

        <activity android:name="com.dsappcenter.jun.mytoilet2.MapActivity">
        </activity>

        <activity android:name="com.dsappcenter.jun.mytoilet2.listActivty">        </activity>

    </application>

</manifest>